.login-top {
    width: 100%;
    height: 60px;
    background-color: #111;
    padding: 0px 20px;
    position: sticky;
    top: 0 ;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.logo {
    width: 7rem;
    cursor: pointer;
}
.logo:hover {
    cursor: pointer;
}

.transparent {
    background-color: transparent;
}

.avatar {
    width: 3rem;
    cursor: pointer;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

