*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .footer {
    border: solid grey ;
    justify-content: space-evenly;
    margin: 25px;
  }

  .footer img {
    width: 50px;
    
  }
  
  ::selection {
    background: #1ADCD0;
    color: #fff;
  }




