* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

::selection {
  background: #1ADCD0;
  color: #fff;
}

main.container {
  margin-top: 2em;
}


